<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Форма рецепта</title>
  <link rel="stylesheet" th:href="@{/css/main.css}">
</head>
<body>
<h1 th:text="${recipe.id} == null ? 'Создать рецепт' : 'Редактировать рецепт'"></h1>

<form th:action="@{/recipes}" th:object="${recipe}" method="post">
  <input type="hidden" th:if="${recipe.id != null}" th:field="*{id}" />

  <label for="title">Название:</label>
  <input type="text" id="title" th:field="*{name}" required />
  <br/>

  <label for="description">Описание:</label>
  <textarea id="description" th:field="*{description}" rows="5"></textarea>
  <br/>

  <label for="cookingTime">Cooking Time:</label>
  <input type="number" id="cookingTime" th:field="*{cookingTime}"  />
  <br/>

  <label for="serving">Serving:</label>
  <input type="number" id="serving" th:field="*{serving}"  />
  <br/>

  <label for="nationalCuisine">Национальная кухня:</label>
  <select id="nationalCuisine" th:field="*{nationalCuisine.id}">
    <option value="" disabled th:selected="*{nationalCuisine == null}">-- Выберите кухню --</option>
    <option th:each="natCuis : ${nationalCuisines}"
            th:value="${natCuis.id}"
            th:text="${natCuis.name}">
    </option>
  </select>
  <br/>

  <label>Тип блюда:</label>
  <div id="dish-type-group" class="dish-type-group"></div>

<!--  <div id="dish-type-groups"></div>-->

<!--  <button type="button" onclick="addDishTypeGroup()">-->
<!--    + Добавить тип блюда-->
<!--  </button>-->

  <script>
    document.querySelector("form").addEventListener("submit", function () {
      const group = document.querySelector(".dish-type-group");
      const selects = group.querySelectorAll("select");

      selects.forEach(select => {
        if (select.value) {
          const input = document.createElement("input");
          input.type = "hidden";
          input.name = "dishTypeIds";
          input.value = select.value;
          this.appendChild(input);
        }
      });
    });
  </script>

  <button type="submit">Сохранить</button>
</form>

<a th:href="@{/recipes}">Назад к списку рецептов</a>

<script>
  document.addEventListener("DOMContentLoaded", () => {
    loadSelect(document.getElementById('dish-type-group'), null);
  });

  function loadSelect(group, parentId) {
    const url = parentId
            ? `/api/dish-types/${parentId}/children`
            : `/api/dish-types/roots`;

    fetch(url)
            .then(r => r.json())
            .then(types => {
              if (types.length === 0) return;

              const select = document.createElement('select');
              select.innerHTML = `<option value="">-- Выберите --</option>`;

              types.forEach(t => {
                const option = document.createElement('option');
                option.value = t.id;
                option.textContent = t.name;
                select.appendChild(option);
              });

              select.onchange = () => {
                // удалить все селекты ниже
                while (select.nextSibling) {
                  select.nextSibling.remove();
                }

                if (select.value) {
                  loadSelect(group, select.value);
                }
              };

              group.appendChild(select);
            });
  }
</script>

</body>
</html>

